/* _________________________header___________________________________________________________________________________________________ */

body{
  font-family: 'Comfortaa', sans-serif !important;
}

.icon-button img {
    width: 21px;
    height: 21px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button.moon:hover{
  background-color: #E7EBFF;
  transition: 0.5s;
}

.icon-button.sun:hover{
  background-color: #FDF5E1;
  transition: 0.5s;
}

@media(max-width: 500px) {
  .btn2,
  .btn4,
  .btn6,
  .btn8 {
      width: 300px !important;
  }
}

@media(max-width: 450px) {
  .btn2,
  .btn4,
  .btn6,
  .btn8 {
      width: 200px !important;
  }
}
/* _________________________main___________________________________________________________________________________________________ */

main {
  height: 100vh;
}

/* ______________________КНОПКИ__________________________________________________________________ */

.buttons img {
  width: 21px;
  height: 21px;
}

.btn1,
.btn3,
.btn5,
.btn7 {
  width: 45px;
  padding: 10px !important; 
}

.btn2,
.btn4,
.btn6,
.btn8 {
  width:400px; 
  padding: 10px !important;
}

.buttons{
  gap: 15px;
}

a > img {
  background-color: transparent;
  border: none
 }
/* ______________сверху не меняется______________________________________________________________________________________ */


header {
  background-color: #d0f8fdb0;
  color: #a04242;
}

main {
  background-color: rgb(255, 255, 255);
  color: rgb(160, 66, 66);
}

main .firstmain{
  background-color: #dff7fab0;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
}

main hr {
  color: rgb(66, 90, 124)
}

.navbarych {
  color: white;
}

.boss {
  border: 1px solid rgb(224, 255, 255);
  -webkit-box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.212);
  -moz-box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.2);
}

/* _____________________________КНОПКИ___________________________ */

/* border */
.btn-f1 a {
  border-color: #801e7688 !important;
}

.btn-f2 a {
  border-color: #1c238f59 !important;
}

.btn-f3 a {
  border-color: #3f7c859c !important;
}

.btn-f4 a {
  border-color: #246d2477 !important;
}
/* background */
.btn-f1  {
  background-color: #ffb3f936;
}

.btn-f2  {
  background-color: #a0a1ff1e;
}

.btn-f3 {
  background-color: #abf2ff25;
}

.btn-f4  {
  background-color: #b7ffbd18;
}

/* HOVER */
.btn-f1:hover  {
  background-color: #fcc6f7b0;
}
.btn1, .btn2{
  background-color: transparent !important;
}


.btn-f2:hover  {
  background-color: #a0baffb0;
}
.btn3, .btn4{
  background-color: transparent !important;
}


.btn-f3:hover  {
  background-color: #a7edfaa1;
}
.btn5, .btn6{
  background-color: transparent !important;
}

.btn-f4:hover  {
  background-color: #d9ffd1b0;
}
.btn7, .btn8{
  background-color: transparent !important;
}

/* active */
.btn-f1:active {
  background-color: #e78ede88;
  color: white;
}

.btn-f2:active {
  background-color: #8086df59;
  color: white;
}

.btn-f3:active {
  background-color: #88d2dd9c;
  color: white;
}

.btn-f4:active {
  background-color: #83da8377;
  color: white;
}


