/* ____________COLORS______________________________________________________________________________ */
:root {
  --moonhover-color: #E7EBFF; 
  --sunhover-color: #FDF5E1; 
  --main-color: #e7fdff;

  --h12-color: #a04242; 
  --p-color: #526680; 

  --black-color: black; 
  --white-color: white; 

  --hr-color: rgb(66, 90, 124); 
  --circle-color: #282936; 

  --scrolltrack-color: #f0f0f042;
  --scrollthumb-color: rgba(163, 163, 163, 0.438); 

  --borderi-color: #fcb5ecd3; 
  --backgroundi-color: rgba(248, 224, 250, 0.767); 
  --hoveri-color: #ffd1f5b0; 
  --activei-color: #f1aee3c4; 

  --borderf-color: rgba(59, 63, 112, 0.418); 
  --backgroundf-color: #24349c4b; 
  --hoverf-color: #18277a73; 
  --activef-color: #18277a81; 

  --bordert-color: #2a667e5b; 
  --backgroundt-color: #00b7ff23; 
  --hovert-color: #00b7ff41; 
  --activet-color: #00b7ff59;

  --borderw-color: #246d2477; 
  --backgroundw-color: #b7ffbd3d; 
  --hoverw-color: rgba(217, 255, 209, 0.829); 
  --activew-color: #83da8377;


 

  --buybackbefor-color: rgba(1, 60, 255, 0.233); 
  --buyborderbefor-color: #52668069; 

  --buybackafter-color: rgba(0, 60, 255, 0.438); 
  --buyborderafter-color: rgba(84, 108, 167, 0.096);

  --buybackactive-color: rgba(14, 41, 63, 0.596); 
   
}













/* _________________________header___________________________________________________________________________________________________ */

body {
  font-family: 'Comfortaa', sans-serif !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.sun {
  display: none;
}

.icon-button img {
  width: 21px;
  height: 21px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button.moon:hover {
  background-color: var(--moonhover-color);
  transition: 0.5s;
}

.icon-button.sun:hover {
  background-color: var(--sunhover-color);
  transition: 0.5s;
}

.navbar-brand {
  margin-left: 50px;
}

@media(max-width: 500px) {

  .btn2,
  .btn4,
  .btn6,
  .btn8 {
    width: 300px !important;
  }
}

@media(max-width: 450px) {

  .btn2,
  .btn4,
  .btn6,
  .btn8 {
    width: 200px !important;
  }
}

.navbar {
  width: 100%;
}

@media (max-width: 576px) { 
.navbar-brand {
  margin-left: 0;
}
  .navbar {
    flex-direction: column;
  }

  .navbar .navbar-brand {
    flex: 1;
    order: 1;
    text-align: center;
  }

  .navbar .btn-ret {
    order: 2;
    justify-content: center;
  }

  .navbar .btn-group {
    order: 3;
    flex-direction: column;
    align-items: center;
  }

  .navbar .btn-group button {
    margin-bottom: 10px;
  }

}

.btn-ret .btn {
  border: 0;
}

/* _________________________main___________________________________________________________________________________________________ */

.services {
  scroll-margin-top: 50vh;
}

.firstmain {
  margin-top: 150px;
}

.services {
  margin-top: 50px;
  margin-bottom: 50px;
}

h5 {
  position: absolute;
}

.buttons p {
display: flex;
position: relative;
align-items: center;
width: 100%;
}
/* ______________________КНОПКИ__________________________________________________________________ */

.buttons img {
  width: 21px;
  height: 21px;
}

.btn1,
.btn3,
.btn5,
.btn7 {
  width: 45px;
  padding: 10px !important;
}

.btn2,
.btn4,
.btn6,
.btn8 {
  width: 400px;
  padding: 10px !important;
}

.buttons {
  gap: 15px;
}

a>img {
  background-color: transparent;
  border: none
}

header {
  background-color: var(--main-color);
  color: var(--h12-color);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
}

.btn-ret .btn {
  color: var(--black-color);
}

.btn-ret .btn:hover {
  color: var(--p-color);
}

.btn-ret .btn:focus {
  color: var(--white-color);
}

main {
  background-color: var(--white-color);
  color: var(--h12-color);
}

.services2>p {
  color: var(--p-color);
}

main .firstmain {
  flex-grow: 1;
  color: var(--h12-color);
  background-color: var(--main-color);
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
}

main hr {
  color: var(--hr-color);
}

.boss {
  border: 1px solid rgb(224, 255, 255);
  -webkit-box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.212);
  -moz-box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.2);
}

/* border */
.buttons a {
  color: var(--black-color);
}

.btn-f1 a {
  border-color: var(--borderi-color) !important;
  color: var(--black-color);
}

.btn-f2 a {
  border-color: var(--borderf-color) !important;
  color: var(--black-color);
}

.btn-f3 a {
  border-color: var(--bordert-color) !important;
  color: var(--black-color);
}

.btn-f4 a {
  border-color:  var(--borderw-color) !important;
  color:  var(--black-color);
}

/* background */
.btn-f1 {
  background-color: var(--backgroundi-color);
}

.btn-f2 {
  background-color: var(--backgroundf-color);
}

.btn-f3 {
  background-color: var(--backgroundt-color);
}

.btn-f4 {
  background-color: var(--backgroundw-color);
}

/* HOVER */
.buttons:hover a {
  color: var(--black-color);
}

.btn-f1:hover {
  background-color: var(--hoveri-color);
  transition: 0.15s;
  transform: scale(1.05);
}

.btn1,
.btn2 {
  background-color: transparent !important;
}


.btn-f2:hover {
  background-color: var(--hoverf-color);
  transition: 0.15s;
  transform: scale(1.05);
}

.btn3,
.btn4 {
  background-color: transparent !important;
}


.btn-f3:hover {
  background-color: var(--hovert-color);
  transition: 0.15s;
  transform: scale(1.05);
}

.btn5,
.btn6 {
  background-color: transparent !important;
}

.btn-f4:hover {
  background-color: var(--hoverw-color);
  transition: 0.15s;
  transform: scale(1.05);
}

.btn7,
.btn8 {
  background-color: transparent !important;
}

/* active */
.btn-f1:active {
  background-color: var(--activei-color);
  color: var(--white-color);
}

.btn-f2:active {
  background-color: var(--activef-color);
  color: var(--white-color);
}

.btn-f3:active {
  background-color: var(--activet-color);
  color: var(--white-color);
}

.btn-f4:active {
  background-color: var(--activew-color);
  color: var(--white-color);
}

/* /////////// */

.dropdown-content {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.dropdown-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  position: absolute;
  animation: scroll-left 5s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-810px);

  }
}

.dropdown-content li {
  display: inline-block;
}

.dropdown-content img {
  height: 250px;
  width: 250px;
  max-width: auto;
  margin-left: 15px;
}

.card {
  min-width: 300px !important;
}

.card>img {
  height: 50px;
  width: 50px;
}

#comments {
  overflow-x: scroll;

}

#comments::-webkit-scrollbar {
  height: 7px;
}

#comments::-webkit-scrollbar-track {
  background-color: var(--scrolltrack-color);
  border-radius: 100px;
}

#comments::-webkit-scrollbar-thumb {
  background-color: var(--scrollthumb-color);
  border-radius: 100px;
}

/* кнока купить */

.btn-order {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 200px;
  cursor: pointer;
  margin-left: 10px;
  border-radius: 50px;
}
  .btn-order {
    color: var(--black-color);
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
    margin-top: -10px;
    z-index: 2;
    border-radius: 50px;
  }
  
  .btn-order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: var(--buybackbefor-color) !important;
    transition: all 0.3s;
    border-radius: 50px;
    border: 1px solid var(--buyborderbefor-color);
  }
  .btn-order:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
    border-radius: 50px;
  }
  .btn-order::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid var(--buyborderafter-color);
    transform: scale(1.2,1.2);
    border-radius: 50px;
    background-color: var(--buybackafter-color);
  }
  .btn-order:hover::after {
    opacity: 1;
    transform: scale(1,1);
    border-radius: 50px;
  }

  .btn-order:active {
    background-color: var(--buybackactive-color);
    color: var(--black-color);
    border-radius: 50px;
  }




.services>h4 {
  position: absolute;
}




/*________________________________comments_____________________________________________________*/

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: var(--moonhover-color);
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: var(--white-color);
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid var(--white-color);
  border-right: 0.125rem solid var(--white-color);
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: var(--moonhover-color);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: var(--white-color);
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: var(--white-color);
}




#mbtn1 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  background-color: var(--backgroundi-color);
  border-color: var(--borderi-color);
}

#mbtn1:hover {
  background-color: var(--hoveri-color);
  transition: 0.15s;
  transform: scale(1.05);
}

#mbtn1:active {
  background-color: var(--activei-color);
}


#mbtn1 img{
  max-width: 43px;
  max-height: 30px;
}




#mbtn2 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  border-color: var(--borderf-color);;
  background-color: var(--backgroundf-color);
}

#mbtn2:hover {
  background-color: var(--hoverf-color);
  transition: 0.15s;
  transform: scale(1.05);
}


#mbtn2:active {
  background-color: var(--activef-color);
}

#mbtn2 img{
  max-width: 43px;
  max-height: 30px;
}



#mbtn3 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  background-color: var(--backgroundt-color);
  border-color: var(--bordert-color);
}

#mbtn3:hover {
  background-color: var(--hovert-color);
  transition: 0.15s;
  transform: scale(1.05);
}


#mbtn3:active {
  background-color: var(--activet-color);
}

#mbtn3 img{
  max-width: 43px;
  max-height: 30px;
}



#mbtn4 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  background-color: var(--backgroundw-color);
  border-color:  var(--borderw-color);
}

#mbtn4:hover {
  background-color: var(--hoverw-color);
  transition: 0.15s;
  transform: scale(1.05);
}


#mbtn4:active {
  background-color: var(--activew-color);
}

#mbtn4 img{
  max-width: 43px;
  max-height: 30px;
}

.mbtn {
  margin-top: 40px;
  width: auto;
  height: 100px;
  background-color: var(--white-color);
  border-radius: 10px;
  border: 1px solid rgb(224, 255, 255);
  -webkit-box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.212);
  -moz-box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 5px 13px 5px rgba(81, 97, 126, 0.2);
}