/* _________________________header___________________________________________________________________________________________________ */

body{
  font-family: 'Comfortaa', sans-serif !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.icon-button img {
    width: 21px;
    height: 21px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button.moon:hover{
  background-color: #E7EBFF;
  transition: 0.5s;
}

.icon-button.sun:hover{
  background-color: #FDF5E1;
  transition: 0.5s;
}

@media(max-width: 500px) {
  .btn2,
  .btn4,
  .btn6,
  .btn8 {
      width: 300px !important;
  }
}

@media(max-width: 450px) {
  .btn2,
  .btn4,
  .btn6,
  .btn8 {
      width: 200px !important;
  }
}
/* _________________________main___________________________________________________________________________________________________ */

main {
  background-color: #2c3e50;
  color: #d1d8e0;
  display: flex;
  height: auto;
  min-height: 100%;
}

/* ______________________КНОПКИ__________________________________________________________________ */

.buttons img {
  width: 21px;
  height: 21px;
}

.btn1,
.btn3,
.btn5,
.btn7 {
  width: 45px;
  padding: 10px !important; 
}

.btn2,
.btn4,
.btn6,
.btn8 {
  width:400px; 
  padding: 10px !important;
}

.buttons{
  gap: 15px;
}

a > img {
  background-color: transparent;
  border: none
}

header {
  background-color: #30445a;
  color: #bdc3c7;
}

main .firstmain{
  flex-grow: 1;
  background-color: #34495cbd;
  color: #bdc3c7;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(12, 15, 22, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(12, 15, 22, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(12, 15, 22, 0.2);
}

main hr {
  color: #bdc3c7;
}

.boss {
  border: 1px solid rgb(35, 71, 82);
  -webkit-box-shadow: 0px 5px 13px 5px rgba(2, 6, 15, 0.212);
  -moz-box-shadow: 0px 5px 13px 5px rgba(2, 6, 15, 0.212);
  box-shadow: 0px 5px 13px 5px rgba(2, 6, 15, 0.212);
}

/* _____________________________КНОПКИ___________________________ */

/* border */
.buttons a{
  color: white;
}

.btn-f1 a {
  border-color: #801e7688 !important;
}

.btn-f2 a {
  border-color: #1c238f59 !important;;
}

.btn-f3 a {
  border-color: #3f7c859c !important;
}

.btn-f4 a {
  border-color: #246d2477 !important;
}

/* background */
.btn-f1  {
  background-color: #ffb3f998;
}

.btn-f2  {
  background-color: #a0a1ff8c;
}

.btn-f3 {
  background-color: #b9f2fc91;
}

.btn-f4  {
  background-color: #b7ffbd86;
}

/* HOVER */
.buttons:hover a{
  color: white;
}
.btn-f1:hover  {
  background-color: #fd78f0d2;
  transition: 0.15s;
  transform: scale(1.05);
}
.btn1, .btn2{
  background-color: transparent !important;
}

.btn-f2:hover  {
  background-color: #759affda;
  transition: 0.15s;
  transform: scale(1.05);
}
.btn3, .btn4{
  background-color: transparent !important;
}


.btn-f3:hover  {
  background-color: #82e6f8c7;
  transition: 0.15s;
  transform: scale(1.05);
}
.btn5, .btn6{
  background-color: transparent !important;
}

.btn-f4:hover  {
  background-color: #b7ffa8c5;
  transition: 0.15s;
  transform: scale(1.05);
}
.btn7, .btn8{
  background-color: transparent !important;
}

/* active */
.btn-f1:active {
  background-color: #e78ede88;
  color: #bdc3c7;
}

.btn-f2:active {
  background-color: #8086df59;
  color: #bdc3c7;
}

.btn-f3:active {
  background-color: #69dff19c;
  color: #bdc3c7;
}

.btn-f4:active {
  background-color: #83da8377;
  color: #bdc3c7;
}