/* _________________________header___________________________________________________________________________________________________ */

body {
  font-family: 'Cormorant Infan', serif !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.sun {
  display: none;
}

.icon-button img {
  width: 21px;
  height: 21px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button.moon:hover {
  background-color: #E7EBFF;
  transition: 0.5s;
}

.icon-button.sun:hover {
  background-color: #FDF5E1;
  transition: 0.5s;
}

.navbar-brand{
  margin-left: 50px;
}

@media(max-width: 500px) {

  .btn2,
  .btn4,
  .btn6,
  .btn8 {
    width: 300px !important;
  }
}

@media(max-width: 450px) {

  .btn2,
  .btn4,
  .btn6,
  .btn8 {
    width: 200px !important;
  }
}

.navbar{
  width: 100%;
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-left: 0;
  }

  .navbar {
    flex-direction: column;
    margin-left: 0;
  }

  .navbar .navbar-brand {
    flex: 1;
    order: 1;
    text-align: center;
  }

  .navbar .btn-ret{
    order: 2;
    justify-content: center;
  }

  .navbar .btn-group {
    order: 3;
    flex-direction: column;
    align-items: center;
  }
  
  .navbar .btn-group button {
    margin-bottom: 10px;
  }

}

.btn-ret .btn{
  border: 0;
}

.brand{
  color: #c7c0c0 !important;
}

/* _________________________main___________________________________________________________________________________________________ */

.services {
  scroll-margin-top: 50vh;
}


main {
  /* background: url('../img/background.png'); */
  background-color: #2c3e50bb;
  color: #c7c0c0;
  display: flex;
  height: auto;
  min-height: 100%;
  /* background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply; */
}

.firstmain {
  margin-top: 150px;
  background: url('../img/background.png');
  background-color: #2c3e50bb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}

.services {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* ______________________КНОПКИ__________________________________________________________________ */

.buttons img {
  width: 21px;
  height: 21px;
}

.btn1,
.btn3,
.btn5,
.btn7 {
  width: 45px;
  padding: 10px !important;
}

.btn2,
.btn4,
.btn6,
.btn8 {
  width: 400px;
  padding: 10px !important;
}

.buttons {
  gap: 15px;
}

a>img {
  background-color: transparent;
  border: none
}

header {
  background-color: #30445a;
  color: #c7c0c0;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(151, 140, 140, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(151, 140, 140, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(151, 140, 140, 0.2);
}

.btn-ret .btn {
  color: #c7c0c0;
}

.btn-ret .btn:hover{
  color: #7c93b1;
}

.btn-ret .btn:focus{
  color: #ffffff;
}


main .firstmain {
  flex-grow: 1;
  background-color: #34495cbd;
  color: #c7c0c0;
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(12, 15, 22, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(12, 15, 22, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(12, 15, 22, 0.2);
}

.services2>p {
  color:#c7c0c0;
}

main hr {
  color: #c7c0c0;
}

.boss {
  -webkit-box-shadow: 0px 0px 18px 0px rgba(199, 182, 120, 0.26);
  -moz-box-shadow: 0px 0px 18px 0px rgba(199, 182, 120, 0.26);
  box-shadow: 0px 0px 18px 0px rgba(199, 182, 120, 0.26);
  max-width: 280px;
}

/* /////////// */

.dropdown-content {
  height: 250px; 
  overflow: hidden; 
  position: relative; 
}

.dropdown-content ul {
  padding: 0; 
  margin: 0; 
  list-style: none;
  white-space: nowrap; 
  position: absolute; 
  animation: scroll-left 5s linear infinite; 
}

@keyframes scroll-left {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-810px);

  }
}

.dropdown-content li {
  display: inline-block;
}

.dropdown-content img {
  height: 250px;
  width: 250px;
  max-width: auto;
  margin-left: 15px;
}

.card {
  min-width: 300px !important;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.card::-webkit-scrollbar {
  width: 7px;
}

.card::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 100px;
}

.card::-webkit-scrollbar-thumb {
  background-color: rgba(163, 163, 163, 0.438);
  border-radius: 100px;
}


.card>img {
  height: 50px;
  width: 50px;
}

.card-img {
  max-height: 50px;
  max-width: 50px;
}

#comments {
  overflow-x: scroll;

}

#comments::-webkit-scrollbar {
  height: 7px;
}

#comments::-webkit-scrollbar-track {
  background-color: #2c3e50;
  border-radius: 100px;
}

#comments::-webkit-scrollbar-thumb {
  background-color: rgba(163, 163, 163, 0.438);
  border-radius: 100px;
}

/* кнока купить */

.box-3 { background-color: #dff7fab0; }

  .btn-order {
    color: #c7c0c0;
    transition: all 0.5s;
    position: relative;
    text-decoration: none;
    margin-top: -10px;
    z-index: 2;
    border-radius: 40px;
    line-height: 40px;
    height: 40px;
    text-align: center;
    width: 130px !important;
    cursor: pointer;
  }
  .btn-order::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(14, 26, 59, 0.137) !important;
    transition: all 0.3s;
    border-radius: 50px;

  }
  .btn-order:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
    border-radius: 50px;
  }
  .btn-order::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    transform: scale(1.2,1.2);
    border-radius: 50px;
    background-color: rgba(18, 28, 61, 0.301);
  }
  .btn-order:hover::after {
    opacity: 1;
    transform: scale(1,1);
    border-radius: 50px;
  }

  .btn-order:active {
    background-color: rgba(14, 41, 63, 0.24);
    color: #ffffff;
    border-radius: 50px;
  }

  #lsmessage {
    width: 200px !important;
  }

  .services>h4 {
    position: absolute;
  }

  /*________________________________comments_____________________________________________________*/
  .learn-more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  button.learn-more {
    width: 12rem;
    height: auto;
  }
  
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: white;
  }
  
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid white;
    border-right: 0.125rem solid white;
    transform: rotate(45deg);
  }
  
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, .076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  button:hover .circle {
    width: 100%;
  }
  
  button:hover .circle .icon.arrow {
    background: white;
    transform: translate(1rem, 0);
  }
  
  button:hover .button-text {
    color: white;
  }


  



#mbtn1 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.788);
  border-color: #91919194;
}

#mbtn1:hover {
  background-color: rgba(255, 255, 255, 0.651);
  transition: 0.15s;
  transform: scale(1.05);
}

#mbtn1:active {
  background-color: rgba(255, 255, 255, 0.527);
}


#mbtn1 img{
  max-width: 43px;
  max-height: 30px;
}




#mbtn2 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  border-color: #91919194;
  background-color: rgba(255, 255, 255, 0.788);
}

#mbtn2:hover {
  background-color: rgba(255, 255, 255, 0.651);
  transition: 0.15s;
  transform: scale(1.05);
}


#mbtn2:active {
  background-color: rgba(255, 255, 255, 0.527);
}

#mbtn2 img{
  max-width: 43px;
  max-height: 30px;
}



#mbtn3 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.788);
  border-color: #91919194;
}

#mbtn3:hover {
  background-color: rgba(255, 255, 255, 0.651);
  transition: 0.15s;
  transform: scale(1.05);
}


#mbtn3:active {
  background-color: rgba(255, 255, 255, 0.527);
}

#mbtn3 img{
  max-width: 43px;
  max-height: 30px;
}



#mbtn4 {
  background-color: transparent;
  max-height: 46px;
  margin-top: 28px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.788);
  border-color: #91919194;
}

#mbtn4:hover {
  background-color: rgba(255, 255, 255, 0.527);
  transition: 0.15s;
  transform: scale(1.05);
}


#mbtn4:active {
  background-color: rgba(255, 255, 255, 0.527);
}

#mbtn4 img{
  max-width: 43px;
  max-height: 30px;
}

.mbtn {
  margin-top: 40px;
  width: auto;
  height: 100px;
  background: linear-gradient(45deg,  rgb(121, 124, 133) 0%,rgb(99, 104, 129) 58%,rgba(106, 109, 128, 0.918) 60%);
  border-radius: 10px;
  border: 1px solid rgb(35, 71, 82);
  -webkit-box-shadow: 0px 5px 13px 5px rgba(2, 6, 15, 0.212);
  -moz-box-shadow: 0px 5px 13px 5px rgba(2, 6, 15, 0.212);
  box-shadow: 0px 5px 13px 5px rgba(2, 6, 15, 0.212);
}

/*_______________summary___________________*/

.summary-text {
  color: #c7c0c0;
  
}

/*_______________test___________________*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #30445a !important;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 80%;
  color: var(--main1-color) !important;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}


.modal-content .close{
  display: flex;
  align-self: flex-end;
}



#openModalBtn {
  text-decoration: none;
  color: #c7c0c0;
  padding: 10px 10px;
  background: linear-gradient(45deg,  rgb(146, 148, 163) 0%,rgba(97, 99, 122, 0.938) 58%,rgba(99, 101, 129, 0.938) 60%);
  border: 0px solid rgba(0, 0, 0, 0.267);
  border-radius: 30px;
}

#openModalBtn:hover {
  background: linear-gradient(45deg,  rgba(146, 148, 163, 0.911) 0%,rgba(97, 99, 122, 0.842) 58%,rgba(99, 101, 129, 0.815) 60%);
  border: 0px solid rgba(26, 26, 26, 0.329);
  color: #c7c0c0;
  transform: 0.5;
}

#openModalBtn:active {
  background: linear-gradient(45deg,  rgb(121, 123, 138) 0%,rgba(77, 79, 100, 0.938) 58%,rgba(75, 78, 95, 0.747) 60%);
  border: 0px solid rgba(37, 37, 37, 0.253);
}



.heading {
  background-color: #8d8e995e;
  border-radius: 50px;
  width: 100%;
  padding: 30px 5px 30px 10px;
}

.heading1 {
  background-color: #8d8e995e;
  border-radius: 50px;
  padding: 10px;
}