  /* ПОДЧЕРКИВАНИЕ */
    /* :root {
      --borderColor: #858383;}
.text {
      &::before,
      &::after {
          content: "";
          position: absolute;
          width: 0%;
          transition: .3s ease-in-out;
          transform: translate(-50%, -50%);
          padding-left: -10px;
      }
      
      &::before {
          border-bottom: 1px solid var(--borderColor);

          transform-origin: center;
          transform: scaleX(0);
          transition: transform 0.5s;
      }
      
      &:hover::before,
      &:hover::after {
          width: calc(4% + 0px);
          transform: scaleX(1);
        }
      } 

       .icon-button {
        border: none;
        outline: none;
        background-color: white;
      } */
      .dropdown {
        display: inline-block;
      }
      
      .dropdown-button {
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
        width: 250px;
        border: none;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
      }
      
      .dropdown:hover .dropdown-content {
        display: inline-block;
      }
      
      .dropdown-content {
        height: 250px;
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 250px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0px;
        overflow-y: hidden;
      }
      
      .dropdown-content ul {
        padding: 0;
        margin: 0;
      }
      
      .dropdown-content li {
        display: inline-block;
      }
      
      .dropdown-content img {
        height: 200px;
        width: auto;
        max-width: 250px;
      }
      
      .dropdown-content::-webkit-scrollbar {
        height: 0;
      }
   
   