  /* ПОДЧЕРКИВАНИЕ */
    /* :root {
      --borderColor: #858383;}
.text {
      &::before,
      &::after {
          content: "";
          position: absolute;
          width: 0%;
          transition: .3s ease-in-out;
          transform: translate(-50%, -50%);
          padding-left: -10px;
      }
      
      &::before {
          border-bottom: 1px solid var(--borderColor);

          transform-origin: center;
          transform: scaleX(0);
          transition: transform 0.5s;
      }
      
      &:hover::before,
      &:hover::after {
          width: calc(4% + 0px);
          transform: scaleX(1);
        }
      } 

       .icon-button {
        border: none;
        outline: none;
        background-color: white;
      } 
      
  
___________________________retrit_________________________________________________________________________________________________________________________________________________________________________________________

.dropdown {
  position: relative;

}

.dropdown-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: auto;
  min-width: 600px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
  visibility: hidden;
  height: 150px;
  width: 100%;
  white-space: normal;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  max-width: 600px;
  min-height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-x: hidden;
}

.dropdown:focus-within .dropdown-content {
  display: block;
  visibility: visible;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.15s;
  transform: scale(1.05);
}

.dropdown:focus-within .dropdown-button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.15s;
  transform: scale(1.05);
}

@media(max-width: 768px) {
  .dropdown-button {
    min-width: 450px !important;
  }
}

@media(max-width: 500px) {
  .dropdown-button {
    min-width: 400px !important;
  }
}

@media(max-width: 450px) {
  .dropdown-button {
    min-width: 350px !important;
  }
}

@media(max-width: 400px) {
  .dropdown-button {
    min-width: 250px !important;
  }
}

@media(max-width: 768px) {
  .dropdown-content {
    max-width: 450px !important;
  }
}

@media(max-width: 500px) {
  .dropdown-content {
    max-width: 400px !important;
  }
}

@media(max-width: 450px) {
  .dropdown-content {
    max-width: 350px !important;
  }
}

@media(max-width: 400px) {
  .dropdown-content {
    max-width: 250px !important;
  }
}

.dropdown-button {
  color: rgb(69, 82, 156);
  background-color: #f0f0f042;
  border: 1px solid rgba(154, 169, 255, 0.575);
}

.dropdown-content {
  color: rgb(30, 28, 136);
  background-color: #f0f0f042;
  border: 1px solid rgba(154, 169, 255, 0.575);
}

.dropdown-button:hover {
  color: rgb(30, 28, 136);
  background-color: #c0c0c056;
  border: 1px solid rgba(154, 169, 255, 0.575);
}

.dropdown-content::-webkit-scrollbar {
  width: 3px;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: #f0f0f042;
  border-radius: 100px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: rgba(163, 163, 163, 0.438);
  border-radius: 100px;
}

////////////////black/////////////////////////
.dropdown {
  position: relative;

}

.dropdown-button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: auto;
  min-width: 600px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5px;
}

.dropdown-content {
  display: none;
  visibility: hidden;
  height: 150px;
  width: 100%;
  white-space: normal;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  text-overflow: ellipsis;
  max-width: 600px;
  min-height: 100px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow-x: hidden;
}

.dropdown:focus-within .dropdown-content {
  display: block;
  visibility: visible;
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.15s;
  transform: scale(1.05);
}

.dropdown:focus-within .dropdown-button {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: 0.15s;
  transform: scale(1.05);
}

@media(max-width: 768px) {
  .dropdown-button {
    min-width: 450px !important;
  }
}

@media(max-width: 500px) {
  .dropdown-button {
    min-width: 400px !important;
  }
}

@media(max-width: 450px) {
  .dropdown-button {
    min-width: 350px !important;
  }
}

@media(max-width: 400px) {
  .dropdown-button {
    min-width: 250px !important;
  }
}

@media(max-width: 768px) {
  .dropdown-content {
    max-width: 450px !important;
  }
}

@media(max-width: 500px) {
  .dropdown-content {
    max-width: 400px !important;
  }
}

@media(max-width: 450px) {
  .dropdown-content {
    max-width: 350px !important;
  }
}

@media(max-width: 400px) {
  .dropdown-content {
    max-width: 250px !important;
  }
}

.dropdown-button {
  color: rgba(255, 255, 255, 0.473);
  background-color: rgba(72, 39, 82, 0.301);
  border: 1px solid rgba(255, 255, 255, 0.473);
}

.dropdown-content {
  color: rgba(255, 255, 255, 0.781);
  background-color: rgba(72, 39, 82, 0.301);
  border: 1px solid rgba(255, 255, 255, 0.473);
}

.dropdown-button:hover {
  color: rgb(212, 212, 212);
  background-color: rgba(48, 26, 54, 0.219);
  border: 1px solid rgba(255, 255, 255, 0.473);
}

.dropdown-content::-webkit-scrollbar {
  width: 3px;
}

.dropdown-content::-webkit-scrollbar-track {
  background-color: rgba(72, 39, 82, 0.301);
  border-radius: 100px;
}

.dropdown-content::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 100px;
}
*/
/* ///////////////////////// */
      /* .dropdown {
        display: inline-block;
      }
      
      .dropdown-button {
        background-color: #000000;
        color: #ffffff;
        padding: 10px;
        width: 250px;
        border: none;
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
      }
      
      .dropdown:hover .dropdown-content {
        display: inline-block;
      }
      
      .dropdown-content {
        height: 250px;
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        width: 250px;
        overflow-x: auto;
        white-space: nowrap;
        padding: 0px;
        overflow-y: hidden;
      }
      
      .dropdown-content ul {
        padding: 0;
        margin: 0;
      }
      
      .dropdown-content li {
        display: inline-block;
      }
      
      .dropdown-content img {
        height: 200px;
        width: auto;
        max-width: 250px;
      }
      
      .dropdown-content::-webkit-scrollbar {
        height: 0;
      }
    */
    
    /* .btn {
      line-height: 50px;
      height: 50px;
      text-align: center;
      width: 250px;
      cursor: pointer;
    }
      .btn-three {
        color: #FFF;
        transition: all 0.5s;
        position: relative;
      }
      .btn-three::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(255,255,255,0.1);
        transition: all 0.3s;
      }
      .btn-three:hover::before {
        opacity: 0 ;
        transform: scale(0.5,0.5);
      }
      .btn-three::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        transition: all 0.3s;
        border: 1px solid rgba(255,255,255,0.5);
        transform: scale(1.2,1.2);
      }
      .btn-three:hover::after {
        opacity: 1;
        transform: scale(1,1);
      } */



      /* VARIABLES */




















      :root {
        --new-bg-color: #424242;
        --new-hl-color: #2196F3;
        --new-muted-color: #000000;
        --new-trans-time: 300ms;
        --new-width: 320px;
      }
      
      .new-group {
        position: relative;
        margin: 45px 0;
      }
 
      input,
      textarea {
        background: none;
        color: var(--new-muted-color);
        font-size: 18px;
        padding: 10px 10px 10px 5px;
        display: block;
        width: var(--new-width);
        border: none;
        border-radius: 0;
        border-bottom: 1px solid var(--new-muted-color);
      }
      
      input:focus,
      textarea:focus {
        outline: none;
      }
      
      input:focus ~ label,
      input:valid ~ label {
        top: -14px;
        font-size: 12px;
        color: var(--new-hl-color);
      }
      
      input:focus ~ .new-bar:before {
        width: var(--new-width);
      }
      
      input[type="password"] {
        letter-spacing: 0.3em;
      }
      
      label {
        color: var(--new-muted-color);
        font-size: 16px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 5px;
        top: 10px;
        transition: var(--new-trans-time) ease all;
      }
      
      .new-bar {
        position: relative;
        display: block;
        width: var(--new-width);
      }
      
      .new-bar:before {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background: var(--new-hl-color);
        transition: var(--new-trans-time) ease all;
        left: 0%;
      }
      
      .btn1 {
        background: #fff;
        color: #b3b3b3;
        border: none;
        padding: 10px 20px;
        border-radius: 3px;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-decoration: none;
        outline: none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      }
      
      .btn1:hover {
        color: #999;
        box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
      }
      
      .btn1.btn-link {
        background: var(--new-hl-color);
        color: #f2f2f2;
      }
      
      .btn1.btn-link:hover {
        background: #1e88e5;
        color: #f7f7f7;
      }
      
      .btn1.btn-submit {
        background: var(--new-hl-color);
        color: #b3b3b3;
      }
      
      .btn1.btn-submit:hover {
        background: #1e88e5;
        color: #b3e5fc;
      }
      
      .btn1.btn-cancel {
        background: #eee;
      }
      
      .btn1.btn-cancel:hover {
        background: #e0e0e0;
        color: #999;
      }
      
     
    
      






















