/* ____________COLORS______________________________________________________________________________ */
:root {
  --moonhover-color: #E7EBFF; 
  --sunhover-color: #FDF5E1; 
  --main2-color: #ccbfb6;
  --main1-color: #5b7766; 
  --main3-color: #e7dac7;
  

  --h12-color: #e7dac7; 
  --p-color: rgb(214, 224, 215); 

  --black-color: black; 
  --white-color: white; 

  --hr-color: #e7dac7; 
  --circle-color: #282936; 

  --scrolltrack-color: #f0f0f042;
  --scrollthumb-color: rgba(163, 163, 163, 0.438); 

  --borderi-color: #fcb5ecd3; 
  --backgroundi-color: rgba(248, 224, 250, 0.767); 
  --hoveri-color: #ffd1f5b0; 
  --activei-color: #f1aee3c4; 

  --borderf-color: rgba(69, 34, 126, 0.418); 
  --backgroundf-color: #17003d9a; 
  --hoverf-color: #3003779a; 
  --activef-color: #6c5196a1; 

  --bordert-color: #2a667e5b; 
  --backgroundt-color: #00b7ff23; 
  --hovert-color: #00b7ff41; 
  --activet-color: #00b7ff59;

  --borderw-color: #c752527c; 
  --backgroundw-color: #ff00005d; 
  --hoverw-color: rgba(255, 150, 150, 0.829); 
  --activew-color: #df6c6cd8;


 

  --buybackbefor-color: #e7dac72a; 
  --buyborderbefor-color: #e7dac72a; 

  --buybackafter-color: #ebcc9d3f; 
  --buyborderafter-color: #e7dac72a;

  --buybackactive-color: #ebc58d3f; 
   
}














/* _________________________header___________________________________________________________________________________________________ */

body {
  font-family: 'Comfortaa', sans-serif !important;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.sun {
  display: none;
}

.icon-button img {
  width: 21px;
  height: 21px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon-button.moon:hover {
  background-color: var(--moonhover-color);
  transition: 0.5s;
}

.icon-button.sun:hover {
  background-color: var(--sunhover-color);
  transition: 0.5s;
}

.navbar-brand {
  margin-left: 50px;
}

@media(max-width: 500px) {

  .btn2,
  .btn4,
  .btn6,
  .btn8 {
    width: 300px !important;
  }
}

@media(max-width: 450px) {

  .btn2,
  .btn4,
  .btn6,
  .btn8 {
    width: 200px !important;
  }
}

.navbar {
  width: 100%;
}

@media (max-width: 576px) {
  .navbar-brand {
    margin-left: 0;
  }

  .navbar {
    flex-direction: column;
  }

  .navbar .navbar-brand {
    flex: 1;
    order: 1;
    text-align: center;
  }

  .navbar .btn-ret {
    order: 2;
    justify-content: center;
  }

  .navbar .btn-group {
    order: 3;
    flex-direction: column;
    align-items: center;
  }

  .navbar .btn-group button {
    margin-bottom: 10px;
  }

}

.btn-ret .btn {
  border: 0;
}

/* _________________________main___________________________________________________________________________________________________ */

.firstmain {
  margin-top: 150px;
}

.main-text {
  margin-top: 50px;
  color: var(--p-color);
}

h5 {
  position: absolute;
}

.buttons p {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
}


.iframe {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  border-radius: 20px;
}

/* ______________________КНОПКИ__________________________________________________________________ */

.buttons img {
  width: 21px;
  height: 21px;
}

.buttons {
  gap: 15px;
}

a>img {
  background-color: transparent;
  border: none
}

header {
  background-color: var(--main1-color);
  color: var(--h12-color);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
}

.btn-ret .btn {
  color: var(--h12-color);
}

.btn-ret .btn:hover {
  color: var(--p-color);
}

.btn-ret .btn:focus {
  color: var(--white-color);
}

main {
  background-color: var(--white-color);
  color: var(--h12-color);
}


main .firstmain {
  flex-grow: 1;
  color: var(--h12-color);
  background-color: var(--main1-color);
  height: 100%;
  -webkit-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  -moz-box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(81, 97, 126, 0.2);
}

main {
  background-color: var(--main2-color);
  color: var(--h12-color);
}


/* /////////// */

.dropdown-content {
  height: 250px;
  overflow: hidden;
  position: relative;
}

.dropdown-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  position: absolute;
  animation: scroll-left 5s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-810px);

  }
}

.dropdown-content li {
  display: inline-block;
}

.dropdown-content img {
  height: 250px;
  width: 250px;
  max-width: auto;
  margin-left: 15px;
}






.retrit-content li {
  display: inline-block;
}

.retrit-content img {
  height: 300px;
  width: 300px;
  max-width: auto;
  margin: 30px 500px;
}

.retrit-content {
  height: 400px;
  overflow: hidden;
  position: relative;
}

.retrit-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  position: absolute;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-810px);

  }
}



.retritimg {
  overflow-: hidden;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

.flex {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.slider-wrapper div {
  position: relative;
}

.slider-wrapper {
  margin-top: 5vw;
  margin-left: 11vw;
}

.slide-image {
  height: 24vw;
}

.slide-image img {
  width: 24vw;
  cursor: pointer;
}

.slide-content {
  width: 25vw;
  color: #fff;
  padding: 3vw 18vw 3vw 9vw;
}

.slide-date {
  color: #0a8acb;
  font-size: 1.1vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  padding-bottom: 1.4vw;
}

.slide-title {
  font-size: 1.2vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  line-height: 1.55vw;
  padding-bottom: 1.8vw;
}

.slide-text {
  font-size: 0.80vw;
  line-height: 1.2vw;
  opacity: 0.8;
  padding-bottom: 4vw;
}

.slide-more {
  font-weight: 400;
  letter-spacing: 0.1vw;
  float: left;
  font-size: 0.9vw;
}

.slide-bullet {
  width: 0.5vw;
  height: 0.5vw;
  background-color: #0b8bcc;
  border-radius: 200%;
  position: relative;
  margin-left: 1.2vw;
}

.slide-nav {
  margin-left: 64vw;
  margin-top: -5.5vw;
}

div.overlay-blue {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transition: 0.5s ease all;
}

div.overlay-blue:hover {
  background-color: rgba(13, 27, 43, 0.5);
}

.arrows {
  width: 3.5vw;
  margin-top: -5.8vw;
  margin-left: 72vw;
  position: relative;
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 1.2vw;
  height: 1.2vw;
  background: transparent;
  text-indent: -9999px;
  border-top: 0.15vw solid #fff;
  border-left: 0.15vw solid #fff;
  transition: all .1s ease-in-out;
  text-decoration: none;
  color: transparent;
}

.arrow:hover {
  border-color: #0A8ACB;
  border-width: 0.25vw;
}

.arrow:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}

.arrow.prev {
  transform: rotate(-45deg);
  left: 0;
}

.arrow.next {
  transform: rotate(135deg);
  right: 0;
}